#banner {
    background: url(../images/Background1.png);
    background-size: cover;
    height: 350px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#latestContent {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    color: #dddddd;
}
img {
    object-fit: cover; 
}
#categories .card img {
    object-fit: cover;
    width: 20rem;
    height: 19rem;
}
#categories .card {
    width: 20rem;
    height: 19rem;
}
.accordion-body {
    background: #297631;
    color: #dddddd;
}

.FAQ {
    background: #dddddd;
}
#categories a {
    text-decoration: none;
}